@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

main {}

img {
  width: 100%;
  max-width: unset;
}

ul,
ul li,
ol li {
  list-style: none;
}

a {
  text-decoration: none;
}

.pc {
  display: block;
}

.sp {
  display: none;
}

.inner {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0px;
}

.b {
  color: #1d646d;
}


.mv .mv_inner {
  max-width: 80vw;
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
}

.mv .mv_inner .flex {
  display: flex;
  align-items: center;
  position: relative;
  width: 100vw;
  margin: 0 calc(50% - 50vw);
}

.mv .mv_inner .flex .left h1 {
  position: absolute;
  z-index: 2;
  left: 10%;
  top: 44%;
  text-align: center;
  color: #fff;
  font-size: 2.8vw;
  text-shadow: 0px 0px 10px rgba(29, 100, 109, 0.91), 0px 0px 10px rgba(29, 100, 109, 0.91);
  transform: translateY(-50%);
  display: grid;
}

.mv .mv_inner .flex .left h1 i {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 10px 0;
  left: 50%;
  transform: translateX(-50%);
}

.mv .mv_inner .flex .left h1 i:before,
.mv .mv_inner .flex .left h1 i:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35px;
  height: 2px;
  background-color: #fff;
  transform-origin: center;
}

.mv .mv_inner .flex .left h1 i:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.mv .mv_inner .flex .left h1 i:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.mv .mv_inner .flex .left p {
  position: absolute;
  z-index: 2;
  left: 10%;
  top: 60%;
  font-size: 2vw;
  font-weight: bold;
  left: 15%;
}


.mv .mv_inner .flex .right {
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  position: relative;
  z-index: 1;
}

.mv .mv_inner .taglist {
  position: absolute;
  bottom: 15%;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  width: 80%;
  font-size: 1.3vw;
  text-align: center;
  font-weight: bold;
  gap: 1.5vw;
}

.mv .mv_inner .taglist li {
  background: rgba(999, 999, 999, 0.7);
  border: solid 2px #1d646d;
  border-radius: 50px;
  padding: 15px;
}

section.inner {
  max-width: 80vw;
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
}

h2 {
  text-align: center;
  margin: 0 auto 100px;
  font-size: 32px;
  width: fit-content;
  letter-spacing: 2px;
}

section h2.sec_ttl {
  text-align: center;
  margin: 0 auto 100px;
  font-size: 36px;
  width: fit-content;
  letter-spacing: 2px;
}

section h2.sec_ttl .b {
  display: block;
  position: relative;
  width: fit-content;
  margin: 0 auto 20px;
  font-size: 80%;
}

section h2.sec_ttl .b:before,
section h2.sec_ttl .b:after {
  content: "";
  position: absolute;
  background-color: #1d646d;
  width: 3px;
  height: 32px;
}

section h2.sec_ttl .b:before {
  transform: rotate(-25deg);
  left: -25px;
}

section h2.sec_ttl .b:after {
  transform: rotate(25deg);
  right: -25px;
}

section h2.sec_ttl .big {
  font-size: 130%;
}

.cont1 {
  background-color: #f5f5f5;
  padding: 100px 0 0;
  -webkit-mask-image: url(/MediTube/assets/images/mask_triangle.png);
  mask-image: url(/MediTube/assets/images/mask_triangle.png);
  mask-repeat: no-repeat;
  mask-position: bottom;
}

.cont1 .baloon_grid {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  gap: 30px 30px;
}

.cont1 .baloon_grid .item_cild {
  background: #fff;
  border-radius: 15px;
  padding: 30px;
  position: relative;
  top: 30px;
}

.cont1 .baloon_grid .item_cild:before,
.cont1 .baloon_grid .item_cild:after {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 20px;
  height: 20px;
}

.cont1 .baloon_grid .item_cild:before {
  background-image: url(../images/ballon_lft.png);
  left: 10px;
  top: -10px;
}

.cont1 .baloon_grid .item_cild:after {
  background-image: url(../images/ballon_right.png);
  right: 10px;
  bottom: -10px;
}

.cont1 .baloon_grid .item_cild .b {
  font-size: 120%;
}

.cont1 .baloon_grid .item_cild:nth-child(2),
.cont1 .baloon_grid .item_cild:nth-child(5) {
  top: -30px;
}

.cont1 .image {
  width: 30%;
  margin: 0 auto;
}

.cont2 {}

.cont2 .sub_ttl {
  text-align: center;
  margin: 50px 0 80px;
  font-weight: bold;
  font-size: 24px;
}

.cont2 .inner {
  position: relative;
  border: solid 5px #1d646d;
  border-radius: 30px;
  padding: 60px;
}

.cont2 .inner:nth-child(2) {
  border-radius: 30px 30px 0 0;
  border-bottom: none;
}

.cont2 .inner:nth-child(4) {
  border-top: none;
  border-radius: 0 0 30px 30px;
  background: #f2f7f2;
}

.cont2 .inner:nth-child(2):before {
  content: "";
  position: absolute;
  top: -20px;
  left: 50%;
  display: block;
  background: #fff;
  width: 60%;
  height: 50px;
  transform: translate(-50%, 0px);
}

.cont2 .inner .main_ttl {
  position: absolute;
  top: -36px;
  left: 50%;
  transform: translate(-50%, 0px);
  background: #fff;
}

.cont2 .inner .main_ttl h2 {
  font-size: 36px;
  letter-spacing: 5px;
  text-wrap: nowrap;
}

.cont2 .inner .main_ttl .b {
  font-size: 150%;
}

.cont2 .inner .main_ttl .b.wrap {
  margin: 0 5px 0 0;
}

.cont2 .inner .main_ttl .b.wrap span {
  border: solid 2px;
  margin: 0 2px;
  padding: 0 5px 0 10px;
}

.cont2 .inner .flex {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  width: 70%;
  margin: 0 auto;
  padding: 0 20px;
}

.cont2 .inner .flex div {
  font-size: 28px;
  font-weight: bold;
  line-height: 2;
}

.cont2 .inner .flex div .b {
  font-size: 120%;
  border-bottom: solid 2px #1d646d;
  width: fit-content;
}

.cont2 .inr_ttl {
  position: relative;
  border-left: solid 5px #1d646d;
  border-right: solid 5px #1d646d;
  padding: 60px;
  max-width: 1360px;
  margin: 0 auto;
  background-color: #fff770;
}

.cont2 .inr_ttl:before {
  position: absolute;
  content: "";
  background-image: url(../images/box_topbdr.png);
  background-repeat: repeat-x;
  background-size: contain;
  display: block;
  width: 100%;
  height: 5px;
  top: 0;
  left: 0;
}

.cont2 .inr_ttl:after {
  position: absolute;
  content: "";
  background-image: url(../images/box_topbdr.png);
  background-repeat: repeat-x;
  background-size: contain;
  display: block;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
}

.cont2 .inr_ttl .wrap {
  font-size: 28px;
  font-weight: bold;
  line-height: 2;
}

.cont2 .inr_ttl p {
  position: absolute;
  top: -28px;
  left: 50%;
  transform: translate(-50%, 0px);
  color: #fff;
  background: #1d646d;
  padding: 0 50px;
  border-radius: 50px;
}

.cont2 .inr_ttl .b {
  font-size: 36px;
  text-align: center;
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

.cont2 .inr_ttl .b:before {
  position: absolute;
  content: "";
  background-image: url(../images/icon_attention.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 60px;
  height: 60px;
  top: 50%;
  left: -20%;
  transform: translate(0px, -40%);
}

.cont2 .inr_ttl .b:after {
  position: absolute;
  content: "";
  background-image: url(../images/icon_attention.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 60px;
  height: 60px;
  top: 50%;
  right: -20%;
  transform: translate(0px, -40%);
}

.cont2 h4 {
  line-height: 1.5;
  text-align: center;
  font-size: 28px;
}

.cont2 .inner .s_flex {
  margin: 30px auto;
  align-items: center;
  display: grid;
  grid-template-columns: 0.8fr 1.2fr;
  gap: 30px;
  background-image: url(../images/ballon_bt_bg.png);
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 30px;
  background-size: 100%;
}

.cont2 .inner .s_flex ul {}

.cont2 .inner .s_flex ul li {
  font-size: 18px;
  position: relative;
  display: flex;
}

.cont2 .inner .s_flex ul li .check {
  position: relative;
  margin-right: 30px;
}

.cont2 .inner .s_flex ul li .check::before {
  position: absolute;
  content: "";
  background-image: url(../images/icon_check.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
}

.cont2 .bottom_p {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}

.cont2 .bottom_p .b {
  font-size: 110%;
}

.cont2 .ls_text {
  display: flex;
  width: 70%;
  margin: 0 auto;
  font-size: 28px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  padding: 80px 0 80px;
}

.cont2 .ls_text img {
  max-width: 220px;
  margin: 0 10px 0 0;
}

.cont2 .inner:nth-child(4)::after {
  position: absolute;
  content: "";
  background-image: url(../images/arrow_bt.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 20px;
  height: 100px;
  bottom: -60px;
  left: 50%;
}

.cont3 {
  padding: 100px 0;
  background: #f2f7f2;
}

.cont3 .list {}

.cont3 .list .item {
  background: #fff;
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  padding: 50px 70px;
  gap: 30px;
  border-radius: 40px;
  margin-bottom: 80px;
  align-items: center;
  position: relative;
}

.cont3 .list .item::before {
  position: absolute;
  content: "";
  background-image: url(../images/icon_01.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 70px;
  height: 70px;
  top: -30px;
  left: 70px;
}

.cont3 .list .item02::before {
  background-image: url(../images/icon_02.png);
  left: unset;
  right: 70px;
  width: 85px;
  height: 85px;
}

.cont3 .list .item03::before {
  background-image: url(../images/icon_03.png);
  width: 85px;
  height: 85px;
}

.cont3 .list .item.reverse {
  grid-template-columns: 1fr 0.4fr;
}

.cont3 .list .item.reverse figure {
  order: 2;
}

.cont3 .list .item:last-child {
  margin-bottom: 0;
}

.cont3 .list .item figure {}

.cont3 .list .item div {}

.cont3 .list .item div h3 {
  color: #1d646d;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: 1px;
  line-height: 1.5;
}

.cont3 .list .item div p {
  line-height: 1.5;
  margin: 15px 0;
  font-size: 18px;
}

.cta {
  background: #1d646d;
  padding: 60px 20px;
  position: relative;
}

.cta:before,
.cta:after {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
}

.cta:before {
  background-image: url(../images/cta_symbol_l.png);
  width: 400px;
  height: 500px;
  top: -78%;
  left: 0;
}

.cta:after {
  background-image: url(../images/cta_symbol_r.png);
  width: 200px;
  height: 400px;
  bottom: -30%;
  right: 0;
}

.cta .inner {
  background: #fff;
  padding: 60px;
  border-radius: 30px;
}

.cta .inner h2 {
  text-align: center;
  margin: 0 auto;
}

.cta ul {
  display: flex;
  gap: 30px;
  align-items: center;
  width: 100%;
  margin: 60px auto 10px;
  justify-content: center;
}

.cta ul li {}

.cta ul li a {
  font-weight: bold;
  letter-spacing: 1px;
  background: #fff;
  border: solid 2px #1d646d;
  padding: 15px 80px 10px 90px;
  position: relative;
  border-radius: 30px;
  color: #1d646d;
  font-size: 20px;
  width: fit-content;
  display: block;
}

.cta ul li a span {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 70%;
  text-align: center;
  background: #fff;
  border-radius: 30px;
  border: solid 2px;
  padding: 5px 30px;
  font-size: 14px;
}

.cta ul li:nth-child(2) a span {
  color: #1d646d;
}

.cta ul li:nth-child(2) a span b {
  font-size: 150%;
  line-height: 0.6;
  margin: 0 2px 0px 0;
  position: relative;
  top: 2px;
}

.cta ul li a:after {
  content: '';
  position: absolute;
  right: 1vw;
  top: 50%;
  width: 10px;
  height: 10px;
  border-right: 2px solid #1d646d;
  border-bottom: 2px solid #1d646d;
  transform: translateY(-50%) rotate(-45deg);
}

.cta ul li:first-child {}

.cta ul li:last-child {}

.cta ul li:last-child a {
  background: #1d646d;
  color: #fff;


}

.cta ul li:last-child a:after {
  border-color: #fff;
}

.cont5 {
  padding: 80px 0;
  background-color: #f2f7f2;
}

.cont5 h2.sec_ttl {
  margin: 0 auto 60px
}

.cont5 .bg_img_txt {
  width: fit-content;
  background-image: url(../images/icon_cont05_bg.png);
  background-color: #ededed;
  padding: 20px 100px;
  border-radius: 15px;
  margin: 40px auto;
  background-repeat: no-repeat;
  background-position: 96% -60%;
  background-size: 50px;
}

.cont5 .itemlist {
  width: 80%;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

.cont5 .itemlist ul {
  display: flex;
  justify-content: center;
  border: solid 3px #1d646d;
  border-radius: 20px;
  padding: 30px 40px;
  background: #fff;
  gap: 50px;
  align-items: baseline;
}

.cont5 .itemlist ul img {
  width: auto;
  height: 70px;
  display: block;
  margin: 0 auto;
}

body>main>section.cont5>div>div.itemlist>ul>li:nth-child(2)>img {
  height: 60px;
}

body>main>section.cont5>div>div.itemlist>ul>li:nth-child(4)>img {
  height: 60px;
}

.cont5 .itemlist ul li {
  text-align: center;
  line-height: 1.2;
  font-weight: bold;
}

.cont5 .itemlist ul li span {
  margin: 15px 0 0;
  display: block;
}

.cont5 .itemlist p {
  background: linear-gradient(to top, #f2f7f2 50%, #fff 50%);
  position: absolute;
  left: 50%;
  bottom: -15px;
  color: #1d646d;
  font-size: 24px;
  transform: translate(-50%, 0px);
  width: 30%;
}

.cont6 {
  position: relative;
  background: url(../images/bg_cont6.png);
  padding: 100px 0;
}

.cont6 h2 {
  text-align: center;
  margin: 0 auto;
}

.cont6 .item {
  background: #f2f7f2;
  border: solid #1d646d;
  border-radius: 30px;
  margin-top: 50px;
  padding: 0 50px 50px;
  overflow-y: hidden;
}

.cont6 .item .number {
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  position: relative;
}

.cont6 .item .number:before {
  position: absolute;
  content: "";
  background-image: url();
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 100px;
  height: 100px;
  top: -100%;
  left: 50%;
  transform: translate(-50%, 0%);
  background: #1d646d;
  border-radius: 50%;
}

.cont6 .item .number p {
  position: relative;
}

.cont6 .item h3 {
  text-align: center;
  margin: 50px 0;
  font-size: 24px;
  line-height: 1.6;
}

.cont6 .item .wrong {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
}

.cont6 .item .wrong div {
  align-items: center;
}

.cont6 .item .left {
  background: #e5e5e5;
  border-radius: 0 0 15px 15px;
}

.cont6 .item dt {
  height: 35px;
}

.cont6 .item .left dt {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  background: #595959;
  border-radius: 15px 15px 0 0;
}

.cont6 .item .left div {
  padding: 30px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1.2fr 0.8fr;
}

.cont6 .item .right dt {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  background: #1d646d;
  border-radius: 15px 15px 0 0;
}

.cont6 .item .right div {
  padding: 30px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1.2fr 0.8fr;
  align-items: center;
}

.cont6 .item .right dt img {
  padding: 3.7px;
  display: block;
  margin: 0 auto;
  width: 32%;
}

.cont6 .item .right div {
  background: #fff;
  border-radius: 0 0 15px 15px;
}

.cont6 .item .right div,
.cont6 .item .left div,
.cont6 .item .right div,
.cont6 .item .right div {
  height: 200px;
  overflow: hidden;
}

.cont7 {
  background-color: #f2f7f2;
  padding: 100px 0;
}

body>main>section.cont6>div>div:nth-child(2)>div.wrap>div>dl.left>div>dd.image>img,
body>main>section.cont6>div>div:nth-child(2)>div.wrap>div>dl.right>div>dd.image>img {
  width: auto;
  height: 180px;
}


body>main>section.cont6>div>div:nth-child(2)>div.wrap>div {
  width: auto;
}

.cont7 h2 {
  margin: 0 auto;
  width: fit-content;
}

.tokium_reason .tokium_reason_flex {
  max-width: 1243px;
  margin: 60px auto 0 auto !important;
}

.cont7 .list {
  width: 50%;
  margin: 0px auto;

}

.cont7 .item figure {
  position: relative;
  z-index: 1;
}

.cont7 .item figure::after {
  position: absolute;
  content: "";
  height: 60px;
  width: 80px;
  background-size: contain;
  display: block;
  left: 25%;
  border-top: dashed 2px #1d646d;
  transform: rotate(90deg) translate(0%, 50%);
  z-index: -1;
}

body>main>section.cont7>div>div>div:nth-child(4)>figure::after {
  position: absolute;
  content: unset;
}

.cont9 {
  padding: 150px 0 100px 0;
}

.cont9 h2 {
  text-align: center;
  margin: 0 auto 80px;
  font-size: 38px;
  font-weight: bold;
}


.cont9 .table_wrap .scroll {
  overflow: initial;
}

.cont9 .table_wrap .scroll table {
  border-collapse: initial;
}

.cont9 .table_wrap .scroll {
  overflow-x: initial;
}

.cont9 td,
.cont9 th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  /* 水平方向の中央揃え */
  vertical-align: middle;
  /* 垂直方向の中央揃え */
  word-wrap: break-word;
  /* 文字の折り返し */
  white-space: normal;
  /* テキストの折り返しを有効にする */
}

.cont9 .table_wrap .scroll table tr {}

.cont9 .table_wrap .scroll table tr:first-child {
  height: 200px;
}

.cont9 .table_wrap .scroll table tr:first-child td {
  font-size: 22px;
}

.cont9 .table_wrap .scroll table tr td {
  width: 400px;
  color: #1d646d;
  font-weight: bold;
  font-size: 28px;
  font-family: "Noto Sans", sans-serif;
}

.cont9 .table_wrap .scroll table tr td:first-child {
  font-size: 20px;
}

.cont9 .table_wrap .scroll table tr td.sticky {
  position: sticky;
  left: 0;
  z-index: 1;
  background: #f2f7f2;
}

.cont9 .table_wrap .scroll table tr td.bg_1 {
  color: #fff;
  background-color: #73aeb5;
}

.cont9 .table_wrap .scroll table tr td.bg_2 {
  color: #fff;
  background-color: #669AA3;
}

.cont9 .table_wrap .scroll table tr td.bg_3 {
  color: #fff;
  background-color: #378b95;
}

span.big {
  font-size: 32px !important;
}

td.bg_1 {
  vertical-align: baseline;
}

td.bg_3 {
  vertical-align: baseline !important;
}

.cont9 td,
.cont9 th {
  border: 1px solid #ddd;
  padding: 6px;
  text-align: center;
  vertical-align: middle;
  word-wrap: break-word;
  white-space: normal;
}

.cont9 .table_wrap .scroll table tr:first-child td {
  font-size: 20px;
}

td.bg_1 {
  vertical-align: baseline !important;
}

.cont9 .table_wrap .scroll table tr td span {
  font-size: 74%;
}

@media screen and (max-width:768px) {

  .sp {
    display: block;
  }

  .pc {
    display: none;
  }

  .mv .mv_inner .flex .left h1 {
    position: absolute;
    z-index: 2;
    left: 2%;
    top: 36%;
    text-align: center;
    color: #fff;
    font-size: 4vw;
    text-shadow: 0px 0px 10px rgba(29, 100, 109, 0.91), 0px 0px 10px rgba(29, 100, 109, 0.91);
    transform: translateY(-50%);
    display: grid;
  }

  .mv .mv_inner .taglist {
    position: absolute;
    bottom: 0%;
    z-index: 1;
    display: list-item;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    width: 100%;
    left: 0px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    gap: 1.5vw;
  }

  .mv .mv_inner .taglist li {
    background: rgba(999, 999, 999, 0.7);
    border: solid 2px #1d646d;
    border-radius: 50px;
    padding: 7px;
    font-size: 13px;
    margin-bottom: 10px;
  }

  .mv .mv_inner .flex .left p {
    position: absolute;
    z-index: 2;
    top: 52%;
    font-size: 4vw;
    font-weight: bold;
    left: 3%;
  }

  .pc {
    display: none !important;
  }

  .tokium_reason .tokium_reason_flex {
    max-width: 1243px;
    margin: 0px auto 0 auto !important;
  }

  .tokium_reason .tokium_reason_flex .reason_flex.top .reason_item,
  .tokium_reason .tokium_reason_flex .reason_flex.bottom .reason_item {
    max-width: 500px;
    width: 100%;
    margin: 0 auto 10px auto !important;
    padding: 0;
  }

  .p-main__resolution {
    width: 100%;
    padding: 1px 0;
    background: linear-gradient(101.07deg, #f5f5f5 0%, #f5f5f5 100%);
  }

  .sectionTitle .sectionTitle__title--left,
  .sectionTitle .sectionTitle__title {
    font-family: YakuHanJP, ryo-gothic-plusn, sans-serif;
    position: relative;
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
    letter-spacing: .1em;
    white-space: nowrap;
    padding-bottom: 30px;
  }

  .p-main__resolution .p-main__resolution-sub .p-main__resolution-card-box .p-main__resolution-card-block .p-main__resolution-card-img-box .p-main__resolution-card-img01 {
    width: 111px;
  }

  .p-main__resolution .p-main__resolution-sub .p-main__resolution-card-box .p-main__resolution-card-block .p-main__resolution-card-img-box .p-main__resolution-card-img02 {
    width: 111px;
  }

  .p-main__resolution .p-main__resolution-sub .p-main__resolution-card-box .p-main__resolution-card-block .p-main__resolution-card-img-box .p-main__resolution-card-img03 {
    width: 111px;
  }

  .p-main__resolution .p-main__resolution-sub .p-main__resolution-card-box .p-main__resolution-card-block .p-main__resolution-card-img-box .p-main__resolution-card-img04 {
    width: 111px;
  }

  .p-main__resolution .p-main__resolution-sub .p-main__resolution-card-box .p-main__resolution-card-block .p-main__resolution-card-img-box .p-main__resolution-card-img05 {
    width: 111px;
  }

  .p-main__resolution .p-main__resolution-sub .p-main__resolution-card-box .p-main__resolution-card-block .p-main__resolution-card-img-box .p-main__resolution-card-img06 {
    width: 111px;
  }

  .p-main__resolution .p-main__resolution-sub .p-main__resolution-card-box .p-main__resolution-card-block .p-main__resolution-card-title {
    font-size: 1.6rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    line-height: 30px;
    padding: 0 20px 10px 20px;
  }

  .p-main__resolution .p-main__resolution-sub .p-main__resolution-card-box .p-main__resolution-card-block {
    width: 100%;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.06);
    border-radius: 21px;
  }

  .p-main__resolution .p-main__resolution-sub .p-main__resolution-sub-title-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 22px;
  }

  .p-main__resolution .p-main__resolution-sub .p-main__resolution-card-box {
    display: grid;
    margin: 0 11px;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding-bottom: 30px;
  }

  .cont7 {
    background-color: #f2f7f2;
    padding: 70px 0;
  }

  .cont7 h2 {
    margin: 0 auto;
    width: fit-content;
    font-family: YakuHanJP, ryo-gothic-plusn, sans-serif;
    position: relative;
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
    letter-spacing: .1em;
  }

  .inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0px 0px 0px 0px;
  }

  .cont7 .item figure::after {
    position: initial;
    content: initial;
    height: initial;
    width: initial;
    background-size: initial;
    display: initial;
    left: initial;
    border-top: initial;
    transform: initial;
    z-index: initial;
  }

  figure img {
    width: 200px;
    margin: 0 auto;
  }

  .cont7 .list {
    width: 90%;
    margin: 0px auto;
  }

  .cont9 {
    padding: 70px 0 100px 0;
  }

  .table_wrap {
    padding: 0px 16px;
  }

  .tb_btm_t {
    padding-top: 20px;
    padding: 20px;
  }

  .inner li {
    z-index: 1;
    padding: 0 20px;
  }

  .cta {
    background: #1d646d;
    padding: 60px 20px;
    position: relative;
  }

  .cta .inner {
    background: #fff;
    padding: 70px 12px 20px 12px;
    border-radius: 30px;
  }

  .cta ul {
    display: flow;
    gap: 30px;
    align-items: center;
    width: 100%;
    margin: 60px auto 10px;
    justify-content: center;
  }

  .links li {
    z-index: 1;
    padding: 0px;
    margin-bottom: 50px;
  }

  .cta ul li a {
    font-weight: bold;
    letter-spacing: 1px;
    background: #fff;
    border: solid 2px #1d646d;
    padding: 15px 33px 10px 30px;
    position: relative;
    border-radius: 30px;
    color: #1d646d;
    font-size: 22px;
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
  }

  .cta ul li a span {
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 81%;
    text-align: center;
    background: #fff;
    border-radius: 30px;
    border: solid 2px;
    padding: 5px 30px;
    font-size: 14px;
  }

  .cta ul li a:after {
    content: '';
    position: absolute;
    right: 5vw;
    top: 50%;
    width: 10px;
    height: 10px;
    border-right: 2px solid #1d646d;
    border-bottom: 2px solid #1d646d;
    transform: translateY(-50%) rotate(-45deg);
  }

  .cta:after {
    background-image: url(../images/cta_symbol_r.png);
    width: 200px;
    height: 400px;
    bottom: -47%;
    right: 0;
  }

  .task {
    margin-top: 0px;
    padding-top: 100px;
    background: #F2F7F2;
    border-radius: 15px;
  }

  .sectionTitle .sectionTitle__title--left,
  .sectionTitle .sectionTitle__title {
    font-family: YakuHanJP, ryo-gothic-plusn, sans-serif;
    position: relative;
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
    letter-spacing: .1em;
    white-space: nowrap;
  }

  .task-list {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    justify-content: center;
    padding-bottom: 40px;
  }

  .task-list li {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #fff;
    border-radius: 15px;
    min-height: 60px;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    width: 100%;
    margin: 0 20px;
    text-align: justify;
    justify-content: flex-start;
    margin-bottom: 20px;
    padding-left: 85px;
  }

  .task-list li::before {
    position: absolute;
    top: 0px;
    left: 0;
    display: block;
    height: 100%;
    background: #028D97 url(../../images/ico_check.png) no-repeat;
    border-radius: 15px 0 0 15px;
    content: "";
    width: 15%;
  }

  .task-list li::before {
    width: 60px;
    background-position: 18px center;
    background-size: 29px 28px;
  }

  header .header-wrap .block-nav nav ul li a {
    font-size: 20px;
    color: #fff !important;
  }

  .document a {
    font-weight: bold;
    letter-spacing: 1px;
    background: #fff;
    border: initial;
    padding: initial;
    position: relative;
    border-radius: 30px;
    color: #1d646d;
    margin-left: -35px;
  }

  .document a:after {
    content: initial;
    position: initial;
    right: 1vw;
    top: initial;
    width: 10px;
    height: 10px;
    border-right: initial;
    border-bottom: initial;
    transform: initial;
  }

  header .header-wrap .block-nav nav ul li a span.ja {
    font-size: 12px;
    font-weight: 300;
  }


  td.bg_1 {
    vertical-align: baseline;
  }

  td.bg_3 {
    vertical-align: baseline;
  }

  span.big {
    font-size: 22px !important;
  }

  .cont9 .table_wrap .scroll table tr td span {
    font-size: 59%;
  }

  table.radius-table {
    width: 100%;
  }

  td.sticky {
    width: 200px !important;
  }

  .cont9 .table_wrap .scroll table tr td.bg_1 {
    line-height: 1.2;
  }

  .cont9 .table_wrap .scroll table tr td.bg_2 {
    vertical-align: baseline;
    line-height: 1.2;
  }

  .cont9 .table_wrap .scroll table tr td.bg_3 {
    line-height: 1.2;
    color: #fff;
    background-color: #378b95;
  }

  .cont9 .table_wrap .scroll table tr td span {
    line-height: 1.6;
  }

  p.link {
    padding: 0 20px;
  }

  table.radius-table {
    width: 390px;
  }

  .cont9 .table_wrap .scroll table tr td {
    width: 400px;
    color: #1d646d;
    font-weight: bold;
    font-size: 18px;
  }

  span.form-font {
    line-height: 1.7 !important;
    font-size: 16px !important;
  }

  td.sticky {
    width: 114px !important;
  }

  .cont9 td,
  .cont9 th {
    border: 1px solid #ddd;
    padding: 14px;
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word;
    white-space: normal;
  }
}

/* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc {
  display: block !important;
}

.sp {
  display: none !important;
}

/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media only screen and (max-width: 750px) {
  .pc {
    display: none !important;
  }

  .sp {
    display: block !important;
  }
}

































@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  letter-spacing: 0.05em;
}

body {
  font-family: "Noto Sans", sans-serif;
}

main {}

ul,
ul li,
ol li {
  list-style: none;
}

a {
  text-decoration: none;
}

.pc {
  display: block;
}

.sp {
  display: none;
}

.inner {
  /* max-width: 1360px; */
  margin: 0 auto;
}

.b {
  color: #1d646d;
}

header .hdr_inner {
  position: absolute;
  width: 100%;
  max-width: 980px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 50%;
  transform: translate(-50%, 0px);
  top: 50px;
  z-index: 999;
}

header ul {
  display: flex;
  gap: 15px;
}

.mv-sp {
  display: none;
}

section.inner {
  max-width: 80vw;
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
}

h2 {
  text-align: center;
  margin: 0 auto 100px;
  font-size: 32px;
  width: fit-content;
}

section h2.sec_ttl {
  text-align: center;
  margin: 0 auto 72px;
  width: fit-content;
  font-size: 48px;
}

section h2.sec_ttl .b {
  font-size: 28px;
  display: block;
  position: relative;
  width: fit-content;
  margin: 0 auto 20px;
}

section h2.sec_ttl .b:before,
section h2.sec_ttl .b:after {
  content: "";
  position: absolute;
  background-color: #1d646d;
  width: 3px;
  height: 32px;
}

section h2.sec_ttl .b:before {
  transform: rotate(-25deg);
  left: -25px;
}

section h2.sec_ttl .b:after {
  transform: rotate(25deg);
  right: -25px;
}

section h2.sec_ttl .big {
  font-size: 130%;
}

.cont0-sp {
  display: none;
}

.cont1 {
  position: relative;
  background-color: #f5f5f5;
  padding: 96px 0 0;
  clip-path: polygon(0 0, 100% 0, 100% 96%, 55% 96%, 50% 100%, 45% 96%, 0 96%);
}

/*
.cont1::after {
  content: "";
  position: absolute;
  bottom: 0;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid #f5f5f5;
}*/

.cont1 .cont1-wrapper {
  max-width: 980px;
  margin: auto;
}

.cont1 h2.sec_ttl {
  color: #393939;
  text-align: center;
  margin: 0 auto 48px;
  width: fit-content;
  font-size: 36px;
}

.cont1 .baloon_grid {
  position: relative;
  display: grid;
  gap: 6px 12px;
  place-content: center;
  grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
}

.cont1 .baloon_grid_child {
  width: 328px;
  height: auto;
  position: relative;
}

.baloon_grid_left,
.baloon_grid_right {
  top: 40px;
}

.cont1 .image {
  width: 350px;
  margin: 0 auto;
}

.pc_inner {
  display: block;
}

.sp_inner {
  display: none;
}

.menu-sp {
  display: none;
}

/* .cont1::after {
  position: absolute;
  content: "";
  display: block;
  width: 360px;
  height: auto;
  top: 0;
  left: 0;
  background-image: url(../images/bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
} */

.cont2 {
  margin: 120px auto 96px;
  /*background-image: url(../images/effect.png);
  background-size: contain;
  width: 980px;
  height: 1366px;
  background-repeat: no-repeat;
  background-position: center;*/
}

.cont2 .cont2-wrapper {
  max-width: 980px;
  margin: auto;
}

.cont2 h2 {
  margin: 0 auto;
  position: relative;
  top: -74px;
  width: 732px;
}

.cont2-img-sp {
  display: none;
}

.cont2_top img {
  margin: -28px auto 64px;
  width: 732px;
}

.cont2 h3 {
  position: relative;
  top: -22px;
  width: 781px;
  margin: 0 auto;
}

.cont2 .inner {
  position: relative;
  border-radius: 30px;
  padding: 82px 0 0 0;
}

.cont2_bottom {
  padding: 68px 0;
  width: 740px;
  margin: 0 auto;
}

.ls_text {
  padding: 72px 0 0;
  width: 628px;
  margin: 0 auto;
}

.cont3 {
  padding: 100px 0;
  background: #f2f7f2;
}

.cont3 .cont3-wrapper .inner {
  max-width: 980px;
}

.cont3 .list .item {
  background: #fff;
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  padding: 50px 56px;
  gap: 30px;
  border-radius: 40px;
  margin-bottom: 80px;
  align-items: center;
  position: relative;
}

.cont3 .list .item::before {
  position: absolute;
  content: "";
  background-image: url(../images/icon_01.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 70px;
  height: 70px;
  top: -30px;
  left: 70px;
}

.cont3 .list .item02::before {
  background-image: url(../images/icon_02.png);
  left: unset;
  right: 70px;
  width: 85px;
  height: 85px;
}

.cont3 .list .item03::before {
  background-image: url(../images/icon_03.png);
  width: 85px;
  height: 85px;
}

.cont3 .list .item.reverse {
  grid-template-columns: 1fr 0.4fr;
}

.cont3 .list .item.reverse figure {
  order: 2;
}

.cont3 .list .item:last-child {
  margin-bottom: 0;
}

.cont3 .list .item figure {}

.cont3 .list .item div {}

.cont3-image-wrapper {
  max-width: 328px;
  height: auto;
}

.cont3 .list .item div h3 {
  color: #1d646d;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  white-space: nowrap;
}

.cont3 .list .item div p {
  line-height: 26px;
  margin: 15px 0;
  font-size: 16px;
}

.cta {
  background: #1d646d;
  padding: 60px 20px;
  position: relative;
}

.cta {
  background-image: url(../images/cta.png);
  top: -78%;
  left: 0;
}

/* .cta:before,
.cta:after {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
}

.cta:before {
  background-image: url(../images/cta_symbol_l.png);
  width: 400px;
  height: 500px;
  top: -78%;
  left: 0;
}

.cta:after {
  background-image: url(../images/cta_symbol_r.png);
  width: 200px;
  height: 400px;
  bottom: -30%;
  right: 0;
} */

.cta .inner {
  background: #fff;
  max-width: 980px;
  padding: 60px;
  border-radius: 30px;
}

.cta .inner h2 {
  font-size: 28px;
  text-align: center;
  margin: 0 auto;
}

.cta .links,
.cont0-sp .links {
  display: flex;
  gap: 30px;
  align-items: center;
  width: 867px;
  margin: 60px auto 10px;
  justify-content: center;
}

.cont0-sp .links {
  margin: 32px auto;
}

.cta .links div a,
.cont0-sp .links div a {
  font-weight: bold;
  background: #fff;
  border: solid 2px #1d646d;
  padding: 15px 80px 10px 90px;
  position: relative;
  border-radius: 30px;
  color: #1d646d;
  font-size: 20px;
  /* width: fit-content; */
  max-width: 420px;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  display: block;
}

.cta .links div a span,
.cont0-sp .links div a span {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 70%;
  text-align: center;
  background: #fff;
  border-radius: 16px;
  border: solid 2px;
  padding: 5px 30px;
  font-size: 14px;
}

.cont0-sp .links div:nth-child(2) a span,
.cta .links div:nth-child(2) a span {
  color: #1d646d;
}

.cta .links div:nth-child(2) a span b {
  font-size: 150%;
  line-height: 0.6;
  margin: 0 2px 0px 0;
  position: relative;
  top: 2px;
}

.cont0-sp .links div:last-child a:after {
  content: "";
  position: absolute;
  right: 16px;
  top: 50%;
  width: 10px;
  height: 10px;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  transform: translateY(-50%) rotate(-45deg);
}

.cont0-sp .links div a:after {
  content: "";
  position: absolute;
  right: 16px;
  top: 50%;
  width: 10px;
  height: 10px;
  border-right: 2px solid #1d646d;
  border-bottom: 2px solid #1d646d;
  transform: translateY(-50%) rotate(-45deg);
}

.cta .links div a:after {
  content: "";
  position: absolute;
  right: 16px;
  top: 50%;
  width: 10px;
  height: 10px;
  border-right: 2px solid #1d646d;
  border-bottom: 2px solid #1d646d;
  transform: translateY(-50%) rotate(-45deg);
}

.cta ul li:first-child {}

.cta ul li:last-child {}

.cont0-sp .links div:last-child a,
.cta .links div:last-child a {
  background: #1d646d;
  color: #fff;
}

.cta .links div:last-child a:after {
  border-color: #fff;
}

.cont5 {
  padding: 96px 0;
  background-color: #f2f7f2;
}

.cont5 .inner p {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

.cont5 h2.sec_ttl {
  margin: 0 auto 60px;
}

.item-list-img-sp,
.bg-img-txt-sp {
  display: none;
}

.cont5 .bg-img-txt {
  width: 732px;
  margin: 0 auto;
  padding: 56px 0 32px;
}

.bg_img_txt-sp {
  display: none;
}

.cont5 .itemlist {
  width: 865px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

.cont5 .itemlist ul {
  display: flex;
  justify-content: center;
  border: solid 3px #1d646d;
  border-radius: 20px;
  padding: 30px 40px;
  background: #fff;
  gap: 50px;
  align-items: baseline;
}

.cont5 .itemlist ul img {
  width: auto;
  height: 70px;
  display: block;
  margin: 0 auto;
}

body>main>section.cont5>div>div.itemlist>ul>li:nth-child(2)>img {
  height: 60px;
}

body>main>section.cont5>div>div.itemlist>ul>li:nth-child(4)>img {
  height: 60px;
}

.cont5 .itemlist ul li {
  text-align: center;
  line-height: 1.2;
  font-weight: bold;
}

.cont5 .itemlist ul li span {
  margin: 15px 0 0;
  display: block;
}

.cont5 .itemlist p {
  background: linear-gradient(to top, #f2f7f2 50%, #fff 50%);
  position: absolute;
  left: 50%;
  bottom: -15px;
  color: #1d646d;
  font-size: 24px;
  transform: translate(-50%, 0px);
  width: 30%;
}

.cont6 {
  position: relative;
  background: url(../images/bg_cont6.png);
  padding: 96px 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.cont6 .cont6-wrapper {
  max-width: 980px;
  margin: auto;
}

.cont6 h2 {
  font-size: 48px;
  text-align: center;
  margin: 0 auto;
}

.cont6 .item {
  background: #f2f7f2;
  border: solid 4px #1d646d;
  border-radius: 30px;
  margin-top: 72px;
  padding: 0 50px 50px;
  overflow-y: hidden;
}

.cont6 .item .number {
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  position: relative;
}

.cont6 .item .number:before {
  position: absolute;
  content: "";
  background-image: url();
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 100px;
  height: 100px;
  top: -100%;
  left: 50%;
  transform: translate(-50%, 0%);
  background: #1d646d;
  border-radius: 50%;
}

.cont6 .item .number p {
  position: relative;
}

.cont6 .item h3 {
  text-align: center;
  margin: 32px 0 40px;
  font-size: 32px;
  line-height: 1.5;
}

.cont6 .item .wrong {
  display: flex;
  width: 868px;
}

.cont6 .item .wrong div {
  align-items: center;
}

.cont6 .item .left {
  width: 392px;
  background: #e5e5e5;
  border-radius: 0 0 0 15px;
}

.cont6 .item .right {
  width: 480px;
}

.cont6 .item dt {
  height: 35px;
}

.cont6 .item .left dt {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 52px;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  background: #595959;
  border-radius: 15px 0 0 0;
}

.cont6 .item .left div {
  padding: 16px 56px 16px 32px;
  display: flex;
  justify-content: space-between;
}

.cont6-image-left {
  width: 126px;
  height: auto;
}

.cont6-image-left img {
  width: 100%;
}

.cont6 .item .right dt {
  display: flex;
  align-items: center;
  height: 52px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  background: #1d646d;
  border-radius: 0 15px 0 0;
}

.cont6 .item .right div {
  padding: 16px 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cont6-text-left {
  letter-spacing: 0;
  width: 170px;
}

.cont6 .item .right dt img {
  padding: 3.7px;
  display: block;
  margin: 0 auto;
  width: 183px;
}

.cont6-image-left {
  width: 126px;
  height: auto;
}

.cont6 .item .right div {
  background: #fff;
  border-radius: 0 0 15px 0;
}

.cont6-text-right {
  width: 260px;
  letter-spacing: 0;
}

.cont6-text-left-2 {
  width: 190px;
}

.cont6-text-right-2 {
  width: 238px;
  letter-spacing: 0;
  height: auto;
}

.cont6-image-right-2 {
  width: 110px;
  height: auto;
}

.cont6-image-left-2 {
  width: 90px;
  height: auto;
}

.cont6 .item .right div,
.cont6 .item .left div,
.cont6 .item .right div,
.cont6 .item .right div {
  height: 144px;
  overflow: hidden;
}

.cont7 {
  background-color: #f2f7f2;
  padding: 96px 0;
}

body>main>section.cont6>div>div:nth-child(2)>div.wrap>div>dl.left>div>dd.image>img,
body>main>section.cont6>div>div:nth-child(2)>div.wrap>div>dl.right>div>dd.image>img {
  width: auto;
  height: 180px;
}

body>main>section.cont6>div>div:nth-child(2)>div.wrap>div {
  width: auto;
}

.cont7 h2 {
  font-size: 48px;
  margin: 0 auto;
  width: fit-content;
}

.cont7-wapper {
  max-width: 980px;
  margin: auto;
}

.cont7 .item {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  position: relative;
}

.cont7 .item:last-child {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  position: relative;
}

.cont7 .list {
  width: 740px;
  margin: 50px auto 0;
}

.cont7 .item figure {
  position: relative;
  z-index: 1;
}

.cont7-step {
  font-size: 16px;
  font-weight: bold;
  color: #1d646d;
}

.cont7-ttl {
  font-size: 32px;
  letter-spacing: 0;
  font-weight: bold;
  white-space: nowrap;
  margin-top: 16px;
  margin-bottom: 28px;
}

.cont7-ttl_sp {
  display: none;
}

.cont7-text {
  padding-left: 32px;
  max-width: 516px;
}

.cont7-description {
  letter-spacing: 0;
}

.cont7 .item figure::after {
  position: absolute;
  content: "";
  height: 60px;
  width: 80px;
  background-size: contain;
  display: block;
  left: 25%;
  border-top: dashed 2px #1d646d;
  transform: rotate(90deg) translate(0%, 50%);
  z-index: -1;
}

.cont7 .item:last-child figure::after {
  display: none;
}

body>main>section.cont7>div>div>div:nth-child(4)>figure::after {
  position: absolute;
  content: unset;
}

.cont9 {
  position: relative;
  background: url(../images/bg_cont6.png);
  padding: 96px 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.cont9-wrapper {
  max-width: 980px;
  margin: auto;
}

.cont9 h2 {
  font-size: 48px;
  text-align: center;
  margin: 0 auto 72px;
}

.plan_t {
  font-size: 16px;
  font-weight: normal;
  margin-top: 24px;
  text-align: left;
}

.sticky {
  font-size: 24px;
  padding: 24px 0px;
  max-width: 500px;
}

.cont9 .table_wrap {
  margin-bottom: 24px;
}

.cont9 .table_wrap .scroll table {
  border-collapse: separate;
  border-spacing: 0;
  width: auto;
  table-layout: fixed;
}

.cont9 td {
  width: 235px;
}

.cont9 td,
.cont9 th {
  border: 1px solid #ddd;
  /* padding: px; */
  text-align: center;
  /* 水平方向の中央揃え */
  vertical-align: middle;
  /* 垂直方向の中央揃え */
  word-wrap: break-word;
  /* 文字の折り返し */
  white-space: normal;
  /* テキストの折り返しを有効にする */
}

.cont9 .table_wrap .scroll table tr {}

.cont9 .table_wrap .scroll table tr:first-child {
  height: 200px;
}

.cont9 .table_wrap .scroll table tr:first-child td {
  font-size: 18px;
}

.cont9 .table_wrap .scroll table tr td {
  width: 400px;
  color: #1d646d;
  font-weight: bold;
  font-size: 28px;
  background-color: #ffffff;
}

.cont9 .table_wrap .scroll table tr:first-child td .big {
  color: #fff;
  font-weight: bold;
  font-size: 28px;
}

.cont9 .table_wrap .scroll table tr td:first-child {
  font-size: 24px;
}

.cont9 .table_wrap .scroll table tr td.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  z-index: 99;
  background: #f2f7f2;
  color: #000;
  width: 400px;
}

.cont9 .table_wrap .scroll table tr td.sticky:first-child {
  color: #000;
  font-size: 24px;
  padding: 24px 0px;
}

.sticky::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  box-sizing: content-box;
}

.cont9 .table_wrap .scroll table tr td.sticky {
  font-size: 20px;
}

.cont9 .table_wrap .scroll table tr td.bg_1 {
  padding: 32px 20px;
  color: #fff;
  background-color: #73aeb5;
  vertical-align: top;
  width: 235px;
}

.cont9 .table_wrap .scroll table tr td.bg_2 {
  padding: 32px 20px;
  color: #fff;
  background-color: #73aeb5;
  width: 235px;
}

.cont9 .table_wrap .scroll table tr td.bg_3 {
  padding: 32px 20px;
  color: #fff;
  background-color: #378b95;
  width: 270px;
  vertical-align: top;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  /* 内側の余白 */
}

.table_wrap {
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

table {
  border-radius: 10px;
}

tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

tr:first-child th:last-child {
  border-top-right-radius: 10px;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.table_sp {
  display: none;
}

.text_sp {
  display: none;
}

.circle {
  display: block;
  margin: 0 auto;
}

.tb_btm_t {
  font-size: 16px;
  letter-spacing: 0;
}

.link {
  margin: 40px auto 0;
  font-weight: bold;
  background: #fff;
  border: solid 2px #1d646d;
  padding: 15px 80px 15px 90px;
  position: relative;
  border-radius: 30px;
  color: #1d646d;
  font-size: 20px;
  width: fit-content;
  display: block;
}

.link::after {
  content: "";
  position: absolute;
  right: 16px;
  top: 50%;
  width: 10px;
  height: 10px;
  border-right: 2px solid #1d646d;
  border-bottom: 2px solid #1d646d;
  transform: translateY(-50%) rotate(-45deg);
}

.cont10 {
  padding: 96px 0;
  background: #f2f7f2;
}

.cont10 h2 {
  font-size: 48px;
  text-align: center;
  margin: 0 auto 72px;
}

.cont10 .inner {
  max-width: 870px;
  margin: 0 auto;
}

.cont10 dl {
  padding: 24px 32px;
  background: #fff;
  border-radius: 16px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.cont10 dl dt {
  position: relative;
  cursor: pointer;
  padding: 0 50px;
  color: #000;
}

.cont10 dl dt::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #1d646d;
  content: url("../images/Q_icon.png");
  display: block;
  line-height: 0;
}

.cont10 dl dt::after {
  content: "＋";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #378b95;
  /* プラスマークの色 */
  transition: transform 0.3s ease, color 0.3s ease;
}

.cont10 dl.active dt::after {
  content: "－";
  color: #378b95;
  /* マイナスマークの色 */
  transform: translateY(-50%);
}

.cont10 dl dd {
  display: none;
  padding: 10px 0;
  animation: fadein 0.3s forwards;
  position: relative;
}

.cont10 dl dd:before {
  content: "";
  width: 100vw;
  background: #ddd;
  height: 1px;
  display: block;
  left: -50%;
  position: relative;
  margin: 10px 0 24px;
}

.form {
  background-color: #e8f5e9;
  padding: 96px 0 30px;
}

.form h2 {
  margin: 0 auto 64px;
  font-size: 48px;
}

.question-title {
  font-size: 18px;
  font-weight: bold;
}

.question-description {
  font-size: 16px;
}

.item-list-img {
  width: 865px;
  height: auto;
  margin: auto;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* ハンバーガーメニューのスタイル */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* 中央揃え */
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 1001;
}

.hamburger span {
  width: 30px;
  height: 3px;
  background: #333;
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
}

.hamburger span::before,
.hamburger span::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background: #333;
  border-radius: 10px;
  transition: all 0.3s linear;
}

.hamburger span::before {
  top: -10px;
  left: 0;
}

.hamburger span::after {
  bottom: -10px;
  left: 0;
}

/* バツ（×）のスタイル */
.hamburger.active span {
  background: transparent;
}

.hamburger.active span::before {
  transform: rotate(45deg);
  top: 0;
}

.hamburger.active span::after {
  transform: rotate(-45deg);
  bottom: 0;
}

/* メニューのトグル表示 */
.nav-menu {
  display: flex;
}

.nowrap {
  white-space: nowrap;
}

.small {
  font-size: 38px;
  letter-spacing: 0;
}

span.pricing-card__recommend {
  font-size: .875rem;
  width: 8.5rem;
  font-size: .875rem;
  width: 20.7rem;
  height: 46px;
  background: #388c96;
  border: solid #388c96;
  border-radius: 8px 8px 0 0;
  border-width: 5px 5px 0;
  bottom: 96.5%;
  color: #fff;
  left: 79rem;
  position: absolute;
  right: -1px;
}

span.pricing-card__recommend__ {
  font-size: 1.875rem !important;
  width: 8.5rem;
  font-size: .875rem;
  width: 23.2rem;
  height: 46px;
  bottom: 97.9%;
  color: #398C97;
  left: 78rem;
  position: absolute;
  right: -1px;
  font-weight: bolder;
}

.cont9 .table_wrap .scroll table tr td.bg_4 {
  padding: 32px 20px;
  color: #fff;
  background-color: #34616A;
  width: 270px;
  vertical-align: top;
}

.h3-service {
  font-size: 34px;
  line-height: 1.1;
  font-weight: 500;
  margin: 0;
}

.reason {
  padding-top: 96px;
}

@media (max-width: 1060px) {
  .cont3 .cont3-wrapper .inner {
    max-width: 980px;
    margin: 0 56px;
  }

  .cont3 .list .item div h3 {
    white-space: normal;
  }

  .cont3 .list .item div h3 .pc {
    display: none;
  }
}

@media (max-width: 1020px) {
  .cta .inner {
    padding: 56px;
  }

  .cont6 .item {
    margin-left: 64px;
    margin-right: 64px;
  }

  .cont6 .item .wrong {
    display: block;
    width: 100%;
  }

  .cont6 .item .left {
    width: 100%;
    border-radius: 15px 15px 0 0;
  }

  .cont6 .item .left dt {
    border-radius: 15px 15px 0 0;
  }

  .cont6 .item .right {
    width: 100%;
    border-radius: 0 0 15px 15px;
  }

  .cont6 .item .right dt {
    border-radius: 0 0 0 0;
  }

  .cont6 .item .right div {
    border-radius: 0 0 15px 15px;
  }

  .cont6-text-left,
  .cont6-text-right {
    max-width: 440px;
    width: 100%;
  }

  .cont6-text-left-2,
  .cont6-text-right-2 {
    max-width: 400px;
    width: 100%;
  }

  .cont6 .item h3 {
    font-size: 28px;
  }

  .cont6 .item .left div,
  .cont6 .item .right div {
    padding: 16px 56px 16px 56px;
  }

  .cont6 .item .right div,
  .cont6 .item .left div,
  .cont6 .item .right div,
  .cont6 .item .right div {
    height: auto;
  }

  .cont9 .table_wrap .scroll table {
    width: 100%;
    min-width: 900px;
  }
}

@media (max-width: 936px) {

  .baloon_grid_left,
  .baloon_grid_right {
    top: 0px;
  }

  .cont1 .baloon_grid {
    padding: 0 40px;
    place-items: center;
    gap: 12px 0px;
  }

  .cont9-wrapper {
    max-width: 678px;
  }

  .sticky {
    width: 135px;
  }
}

@media (max-width: 907px) {}

@media (max-width: 880px) {
  .cont3 .list .item {
    display: block;
  }

  .cont3-image-wrapper {
    margin: 0 auto;
    padding-bottom: 36px;
  }

  .cont10 .inner {
    padding: 0 64px 0px 64px;
  }

  .cta .links,
  .cont0-sp .links {
    display: block;
    width: 100%;
  }

  .cta .links div a,
  .cont0-sp .links div a {
    max-width: 100%;
  }

  .cta .links div a:last-child {
    margin-top: 56px;
  }

  .cont0-links {
    background: #ffffff;
    width: 90%;
    padding: 24px 16px;
    border-radius: 23px;
  }

  .cont0-links div:last-child {
    margin-top: 56px;
  }
}

/* レスポンシブ対応 */
@media (max-width: 768px) {
  .cta .inner {
    padding: 40px 16px;
  }

  .pc {
    display: none;
  }

  .sp {
    display: block;
  }

  .mv-pc {
    display: none;
  }

  .nav-menu .menu-pc {
    display: none;
  }

  .mv-sp {
    display: block;
  }

  .menu-sp {
    display: block;
  }

  .menu-sp li {
    font-size: 20px;
    text-align: center;
    margin-bottom: 24px;
  }

  .mv .mv_inner .flex .left .pc {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .nav-menu {
    display: flex;
    width: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    transition: right 0.3s ease;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .menu-item {
    cursor: pointer;
  }

  body.active {
    background: #fff;
  }

  .nav-menu.active {
    right: 0;
    height: 100vh;
    top: -50px;
  }

  header .hdr_inner {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  header ul {
    width: 100%;
    padding: 0;
    top: 20%;
    position: relative;
    justify-content: center;
  }

  header ul li:last-child a {
    margin-top: 20px;
  }

  .mv .mv_inner .flex {
    display: block;
  }

  header .hdr_inner {
    background-color: #fff;
    position: fixed;
    top: 0;
    padding: 20px 20px;
  }

  header .hdr_inner img {
    max-width: 170px;
  }

  .mv .mv_inner {
    max-width: 100vw;
  }

  .mv .mv_inner .flex {
    display: block;
  }

  .mv .left h1 {
    position: relative;
    padding: 100px 0 90px;
    background-image: url(../images/mv_ttl_bg.png);
    background-size: contain;
    background-position: center;
    width: 100vw;
    margin: 0 calc(50% - 50vw);
    text-align: center;
    color: #fff;
  }

  main {
    margin-top: 70px;
  }

  .mv .mv_inner h1 i {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 10px 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .mv .mv_inner h1 i:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .mv .mv_inner h1 i:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .mv .mv_inner h1 i {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 35px;
    margin: 10px 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .mv .mv_inner h1 i:before,
  .mv .mv_inner h1 i:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 35px;
    height: 2px;
    background-color: #fff;
    transform-origin: center;
  }

  .mv .mv_inner h1 i:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .mv .mv_inner h1 i:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .cont7 .item figure::after {
    width: 255px;
    left: -75%;
  }

  .cont7-text {
    padding-left: 20px;
  }

  .cont7-img img {
    width: 100px;
  }

  .cont7 .item {
    width: 100%;
    min-width: 335px;
    margin: auto;
  }

  .cont1 {
    padding: 72px 0 0;
  }

  section h2.sec_ttl .b {
    font-size: 26px;
    margin: 0 auto 0;
    letter-spacing: 0;
  }

  .section h2.sec_ttl .b:before,
  section h2.sec_ttl .b:after {
    height: 28px;
  }

  section h2.sec_ttl .b:before {
    left: -15px;
  }

  section h2.sec_ttl .b:after {
    right: -15px;
  }

  .cont0-sp {
    display: block;
  }

  .cont0-sp {
    background-color: #378b95;
    padding: 28px 0;
  }

  .cont1 h2.sec_ttl {
    font-size: 30px;
    margin: 0 auto 40px;
    padding: 0 40px;
    line-height: 1.5;
  }

  .cont1 .image {
    width: 208px;
    padding-top: 24px;
    height: auto;
  }

  section h2.sec_ttl {
    font-size: 40px;
    margin: 0 auto 48px;
    line-height: 1.5;
    letter-spacing: 0;
    width: 90%;
  }

  section h2.sec_ttl .b:before,
  section h2.sec_ttl .b:after {
    top: 4px;
  }

  .cont2 {
    margin: 48px 0 72px;
  }

  .cont2 .cont2-wrapper {
    max-width: 90%;
  }

  .cont2-img-pc {
    display: none;
  }

  .cont2-img-sp {
    display: block;
  }

  .cont3 {
    padding: 72px 0;
  }

  .cont3 .list .item {
    padding: 40px;
    border-radius: 16px;
  }

  .cont3 .list .item div h3 {
    font-size: 26px;
    line-height: 1.5;
  }

  .cont3 .cont3-wrapper .inner {
    width: 90%;
    margin: 0 auto;
  }

  .cont5 {
    padding: 72px 0;
  }

  .cont5 h2.sec_ttl {
    margin: 0 auto 48px;
  }

  .cont5 .inner {
    width: 90%;
  }

  .cont5 .inner p {
    font-size: 20px;
  }

  .cont6 {
    padding: 72px 0;
  }

  .cont6 h2 {
    font-size: 40px;
  }

  .cont7 {
    padding: 72px 0;
  }

  .bg-img-txt,
  .item-list-img {
    display: none;
  }

  .bg_img_txt-sp,
  .item-list-img-sp {
    display: block;
  }

  .bg_img_txt-sp {
    margin-top: 40px;
  }

  .item-list-img-sp {
    margin-top: 32px;
  }

  .bg_img_txt-sp img {
    margin: auto;
    width: 100%;
  }

  .cont7 h2 {
    font-size: 40px;
    margin: 0 40px;
    line-height: 1.5;
  }

  .cont7 .list {
    margin: 48px auto 0;
    width: 90%;
  }

  .cont7-ttl {
    white-space: normal;
  }

  .cont9 .table_wrap .scroll table tr td.sticky {
    font-size: 28px;
  }

  .cont9 .table_wrap .scroll table tr td.sticky {
    width: 135px;
    font-size: 20px;
  }

  .cont9 .table_wrap .scroll {
    overflow: scroll;
  }

  .cont9 .table_wrap .scroll table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    table-layout: fixed;
  }

  .cont9 .table_wrap .scroll table {
    border-collapse: collapse;
  }

  .cont9 .table_wrap .scroll {
    overflow-x: auto;
  }

  .cont7-ttl {
    font-size: 28px;
    line-height: 1.5;
  }

  .cont9 {
    padding: 72px 0;
  }

  .cont9 h2 {
    font-size: 40px;
    margin: 0 auto 38px;
  }

  .cont10 {
    padding: 72px 0;
  }

  .cont10 .inner {
    padding: 0px;
    width: 90%;
  }

  .cont10 h2 {
    font-size: 40px;
    margin: 0 auto 48px;
  }

  .form {
    padding: 72px 0 0;
  }

  .form h2 {
    font-size: 40px;
    margin: 0 auto 48px;
    line-height: 1.5;
    width: 90%;
  }

  .cont9-wrapper {
    width: 668px;
  }

  .link {
    font-size: 20px;
    padding: 16px 70px 16px;
  }

  .cta .inner h2 {
    font-size: 24px;
    line-height: 1.5;
  }

  .small {
    font-size: 30px;
  }

  .cont6 .item {
    width: 90%;
    margin: 48px auto 0px;
  }

  .cont6 .item .bottom {
    margin-top: 32px;
  }

  .table_sp {
    display: block;
  }

  .text_sp {
    display: block;
    text-align: right;
    padding-bottom: 10px;
    font-size: 12px;
  }
}

@media screen and (max-width: 770px) {
  .cont7 .item figure::after {
    width: 220px;
    left: -58%;
  }

  .cont7 .item:last-child {
    align-items: flex-start;
  }

  .cont7-text {
    width: 335px;
  }

  .cont7 .item {
    margin-top: 32px;
    align-items: flex-start;
  }

  .cont7-ttl {
    margin-top: 8px;
    margin-bottom: 16px;
  }

  .cont0-sp .links div a span,
  .cta .links div a span {
    font-size: 14px;
    width: 75%;
  }

  .cont0-sp .links div a,
  .cta .links div a {
    font-size: 20px;
    display: block;
    padding: 16px 0px 16px;
  }
}

@media screen and (max-width: 689px) {
  .sp_inner {
    display: block;
  }

  .pc_inner {
    display: none;
  }
}

@media screen and (max-width: 600px) {

  .cont6 .item .left div,
  .cont6 .item .right div {
    padding: 16px 28px 16px 28px;
  }

  .cont10 dl {
    padding: 24px 16px;
  }

  .cont10 dl dt {
    padding: 0 32px;
  }

  .cont10 dl dd:before {
    left: -18%;
  }
}

@media screen and (max-width: 560px) {
  .cont6 .item {
    padding-left: 24px;
    padding-right: 24px;
  }

  .cont6 .item .left div,
  .cont6 .item .right div {
    padding: 16px 16px 16px 16px;
  }

  .cont3 .list .item {
    padding: 40px 20px 32px;
  }

  .cont7-ttl_sp {
    display: block;
  }
}

@media screen and (max-width: 400px) {
  .cont7 .item figure::after {
    width: 176px;
    left: -58%;
  }

  .cont9-wrapper {
    max-width: 335px;
  }

  .cont6 .item {
    padding-left: 16px;
    padding-right: 16px;
  }
}